Digitize the XRF peaks table from https://xdb.lbl.gov/Section1/Table_1-2.pdf.

X-RAY DATA BOOKLET

Center for X-ray Optics and Advanced Light Source

Lawrence Berkeley National Laborator

In [3]:
import tabula
import pandas as pd
import numpy as np

pdf_path = "../files/XRF_periodic_table.pdf"
dfs = tabula.read_pdf(pdf_path, pages='all')

In [4]:
# tow dataframes don't have headers originally
# 1. I put the wrong header as the new last row
# 2. assign the missing headers by other dataframes
for i in [2, 4]:
    head_values = dfs[i].columns.tolist()
    head_values[-1] = np.nan
    dfs[i].loc[len(dfs[i])] = head_values
    dfs[i].columns = dfs[0].columns.tolist()
    print(dfs[i])

   Element        Kα1       Kα2       Kβ1       Lα1       Lα2       Lβ1  \
0   42  Mo  17,479.34  17,374.3  19,608.3  2,293.16  2,289.85  2,394.81
1   43  Tc   18,367.1  18,250.8    20,619     2,424     2,420     2,538
2   44  Ru   19,279.2  19,150.4  21,656.8  2,558.55  2,554.31  2,683.23
3   45  Rh   20,216.1  20,073.7  22,723.6  2,696.74  2,692.05  2,834.41
4   46  Pd   21,177.1  21,020.1  23,818.7  2,838.61  2,833.29  2,990.22
5    47 Ag  22,162.92  21,990.3  24,942.4  2,984.31  2,978.21  3,150.94
6   48  Cd   23,173.6  22,984.1  26,095.5  3,133.73  3,126.91  3,316.57
7   49  In   24,209.7  24,002.0  27,275.9  3,286.94  3,279.29  3,487.21
8   50  Sn   25,271.3  25,044.0  28,486.0  3,443.98  3,435.42  3,662.80
9   51  Sb   26,359.1  26,110.8  29,725.6  3,604.72  3,595.32  3,843.57
10  52  Te   27,472.3  27,201.7  30,995.7  3,769.33   3,758.8  4,029.58
11   53  I   28,612.0  28,317.2  32,294.7  3,937.65  3,926.04  4,220.72
12  54  Xe     29,779    29,458    33,624   4,109.9         —         —
13  55  Cs   30,972.8  30,625.1  34,986.9   4,286.5   4,272.2   4,619.8
14  56  Ba   32,193.6  31,817.1  36,378.2  4,466.26  4,450.90  4,827.53
15  57  La   33,441.8  33,034.1  37,801.0  4,650.97  4,634.23   5,042.1
16  58  Ce   34,719.7  34,278.9  39,257.3   4,840.2   4,823.0   5,262.2
17  59  Pr   36,026.3  35,550.2  40,748.2   5,033.7   5,013.5   5,488.9
18  60  Nd   37,361.0  36,847.4  42,271.3   5,230.4   5,207.7   5,721.6
19  61  Pm   38,724.7  38,171.2    43,826   5,432.5   5,407.8     5,961
20  62  Sm   40,118.1  39,522.4    45,413   5,636.1   5,609.0   6,205.1
21  41  Nb   16,615.1  16,521.0  18,622.5  2,165.89   2,163.0   2,257.4

         Lβ2       Lγ1    Mα1
0    2,518.3   2,623.5    NaN
1      2,674     2,792    NaN
2    2,836.0   2,964.5    NaN
3    3,001.3   3,143.8    NaN
4   3,171.79   3,328.7    NaN
5   3,347.81  3,519.59    NaN
6   3,528.12  3,716.86    NaN
7   3,713.81  3,920.81    NaN
8   3,904.86  4,131.12    NaN
9   4,100.78  4,347.79    NaN
10   4,301.7   4,570.9    NaN
11   4,507.5   4,800.9    NaN
12         —         —    NaN
13   4,935.9   5,280.4    NaN
14   5,156.5   5,531.1    NaN
15   5,383.5   5,788.5    833
16   5,613.4     6,052    883
17     5,850   6,322.1    929
18   6,089.4   6,602.1    978
19     6,339     6,892      —
20     6,586     7,178  1,081
21   2,367.0   2,461.8    NaN
   Element       Kα1       Kα2      Kβ1       Lα1        Lα2       Lβ1  \
0   83  Bi  77,107.9  74,814.8   87,343  10,838.8  10,730.91  13,023.5
1   84  Po    79,290    76,862   89,800  11,130.8   11,015.8    13,447
2   85  At    81,520    78,950   92,300  11,426.8   11,304.8    13,876
3   86  Rn    83,780    81,070   94,870  11,727.0   11,597.9    14,316
4   87  Fr    86,100    83,230   97,470  12,031.3   11,895.0    14,770
5   88  Ra    88,470    85,430  100,130  12,339.7   12,196.2  15,235.8
6   89  Ac    90,884    87,670  102,850  12,652.0   12,500.8    15,713
7   90  Th    93,350    89,953  105,609  12,968.7   12,809.6  16,202.2
8   91  Pa    95,868    92,287  108,427  13,290.7   13,122.2    16,702
9    92  U    98,439    94,665  111,300  13,614.7   13,438.8  17,220.0
10  93  Np         —         —        —  13,944.1   13,759.7  17,750.2
11  94  Pu         —         —        —  14,278.6   14,084.2  18,293.7
12  95  Am         —         —        —  14,617.2   14,411.9  18,852.0
13  82  Pb  74,969.4  72,804.2   84,936  10,551.5   10,449.5  12,613.7

         Lβ2       Lγ1      Mα1
0   12,979.9  15,247.7  2,422.6
1   13,340.4    15,744        —
2          —    16,251        —
3          —    16,770        —
4     14,450    17,303        —
5   14,841.4    17,849        —
6          —    18,408        —
7   15,623.7  18,982.5  2,996.1
8     16,024    19,568  3,082.3
9   16,428.3  20,167.1  3,170.8
10  16,840.0  20,784.8        —
11  17,255.3  21,417.3        —
12  17,676.5  22,065.2        —
13  12,622.6  14,764.4      NaN

In [5]:
# concatenate all dataframes
ev_df = pd.DataFrame()

for df in dfs:
    ev_df = pd.concat([ev_df, df], axis=0)

ev_df

,Element,Kα1,Kα2,Kβ1,Lα1,Lα2,Lβ1,Lβ2,Lγ1,Mα1
0,3 Li,54.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4 Be,108.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5 B,183.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6 C,277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7 N,392.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9,92 U,"98,439","94,665","111,300","13,614.7","13,438.8","17,220.0","16,428.3","20,167.1","3,170.8"
10,93 Np,—,—,—,"13,944.1","13,759.7","17,750.2","16,840.0","20,784.8",—
11,94 Pu,—,—,—,"14,278.6","14,084.2","18,293.7","17,255.3","21,417.3",—
12,95 Am,—,—,—,"14,617.2","14,411.9","18,852.0","17,676.5","22,065.2",—
13,82 Pb,"74,969.4","72,804.2","84,936","10,551.5","10,449.5","12,613.7","12,622.6","14,764.4",NaN

In [6]:
# convert the values to float
def convert_to_float(x):
    try:
        return float(x)
    except:
        if x == "—":
            return np.nan
        else:
            x = x.replace(",", "")
            return float(x)

In [7]:
# split the Element column into atomic number and element
zs = []
elements = []

for i in ev_df.Element:
    z, element = i.split()
    zs.append(int(z))
    elements.append(element)

In [8]:
tmp = ev_df.iloc[:, 1:].map(convert_to_float).reset_index(drop=True)

ev_compile_df = pd.concat(
    [pd.DataFrame({"Z": zs,"element": elements}), tmp],
    axis=1
)
ev_compile_df.sort_values("Z", axis=0, inplace=True)

# change the headers into names easier for typing
ev_compile_df.columns = ["Z", "element", "Ka1", "Ka2", "Kb1", "La1", "La2", "Lb1", "Lb2", "Ly1", "Ma1"]

ev_compile_df

,Z,element,Ka1,Ka2,Kb1,La1,La2,Lb1,Lb2,Ly1,Ma1
0,3,Li,54.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Be,108.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,B,183.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,C,277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,N,392.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
87,91,Pa,95868.0,92287.0,108427.0,13290.7,13122.2,16702.0,16024.0,19568.0,3082.3
88,92,U,98439.0,94665.0,111300.0,13614.7,13438.8,17220.0,16428.3,20167.1,3170.8
89,93,Np,NaN,NaN,NaN,13944.1,13759.7,17750.2,16840.0,20784.8,NaN
90,94,Pu,NaN,NaN,NaN,14278.6,14084.2,18293.7,17255.3,21417.3,NaN
91,95,Am,NaN,NaN,NaN,14617.2,14411.9,18852.0,17676.5,22065.2,NaN

In [11]:
#ev_compile_df.to_csv("../files/emission_peaks.csv")
ev_compile_df = pd.read_csv("../files/emission_peaks.csv", index_col=0)

In [10]:
ev_compile_df[ev_compile_df.element == "Rh"]

,Z,element,Ka1,Ka2,Kb1,La1,La2,Lb1,Lb2,Ly1,Ma1
41,45,Rh,20216.1,20073.7,22723.6,2696.74,2692.05,2834.41,3001.3,3143.8,NaN

According to AWI's XRF core scanner manual P.14 ([URL](https://epic.awi.de/id/eprint/37355/4/XRFCore-Scanner_user-manualV2.pdf)), the conversion of channel is 20 eV/channel.

# Saliency map
## CaCO3

There are highlights at

In [49]:
def filter_emission_peaks(df, min, max):
    mask = (df.iloc[:, 2:] > min*1000) & (df.iloc[:, 2:] < max*1000)
    tmp = df[mask].loc[mask.any(axis=1)].copy()
    tmp = tmp.replace(np.nan, "")
    element = df.loc[mask.any(axis=1), "element"].copy()
    return pd.concat([element, tmp.iloc[:, 2:]], axis=1)

In [50]:
# 2.2-2.6 kev
filter_emission_peaks(ev_compile_df, 2.2, 2.6)

,element,Ka1,Ka2,Kb1,La1,La2,Lb1,Lb2,Ly1,Ma1
13,S,2307.84,2306.64,2464.04,,,,,,
37,Zr,,,,,,,2219.4,2302.7,
59,Nb,,,,,,2257.4,2367.0,2461.8,
38,Mo,,,,2293.16,2289.85,2394.81,2518.3,,
39,Tc,,,,2424.0,2420.0,2538.0,,,
40,Ru,,,,2558.55,2554.31,,,,
78,Tl,,,,,,,,,2270.6
79,Bi,,,,,,,,,2422.6

In [51]:
# 3.4-3.6 keV
filter_emission_peaks(ev_compile_df, 3.4, 3.6)

   element Ka1 Ka2     Kb1      La1      La2      Lb1      Lb2      Ly1 Ma1
16       K          3589.6
43      Ag                                                      3519.59
44      Cd                                             3528.12
45      In                                    3487.21
46      Sn                  3443.98  3435.42
47      Sb                           3595.32

In [55]:
filter_emission_peaks(ev_compile_df, 9.5, 10.5)

,element,Ka1,Ka2,Kb1,La1,La2,Lb1,Lb2,Ly1,Ma1
27,Zn,,,9572.0,,,,,,
28,Ga,,,10264.2,,,,,,
29,Ge,9886.42,9855.32,,,,,,,
67,Yb,,,,,,,,9780.1,
68,Lu,,,,,,,,10143.4,
70,Ta,,,,,,,9651.8,,
71,W,,,,,,9672.35,9961.5,,
72,Re,,,,,,10010.0,10275.2,,
73,Os,,,,,,10355.3,,,
76,Au,,,,9713.3,9628.0,,,,
77,Hg,,,,9988.8,9897.6,,,,
78,Tl,,,,10268.5,10172.8,,,,
92,Pb,,,,,10449.5,,,,

In [53]:
# 13.4-13.45 keV
filter_emission_peaks(ev_compile_df, 13.4, 13.45)

   element Ka1 Ka2 Kb1 La1      La2      Lb1 Lb2 Ly1 Ma1
80      Po                           13447.0
88       U                  13438.8

## TOC
Mostly it has similar peaks as CaCO3, but with one additional peak around 17.5.

In [54]:
# 17.4-17.6 keV
filter_emission_peaks(ev_compile_df, 17.4, 17.6)

   element       Ka1 Ka2 Kb1 La1 La2 Lb1 Lb2 Ly1 Ma1
38      Mo  17479.34